<a href="https://it-omscholing.nl/locaties/hogeschool-rotterdam/">
<div>
<a><img src='../pics/banner.PNG'/></a>
</div>
<div>
<a href=''><img src='../pics/miw.PNG'/></a>
<em>Author: Jeroen Boogaard</em>
</div>
</a>

<h1>Numpy</h1>

**Imports**

In [2]:
import numpy as np
import pandas as pd
from PIL import Image
from scipy import ndimage

<h2>Opdracht 1</h2>

<h3>Gegeven</h3>

Planeet | Grootte to.v. de omvang van de Aarde
---|---
Jupiter | 1120%
Saturnus | 945%
Uranus | 400%
Neptunus | 388%
Aarde| 100%
Venus | 95%
Mars | 53%

In [3]:
filename = "csv/planets.csv"

In [4]:
ls pics

 Volume in drive C is OS
 Volume Serial Number is A228-4B14

 Directory of c:\Users\marcr\MakeAIWork\notebooks\les numpy\pics

16-09-2022  15:13    <DIR>          .
16-09-2022  13:17    <DIR>          ..
16-09-2022  13:17    <DIR>          .ipynb_checkpoints
16-09-2022  13:17            29.680 earth.jpg
16-09-2022  15:13            12.539 earth_scaled.jpg
16-09-2022  13:17            22.232 jupiter.jpg
16-09-2022  15:13           280.843 jupiter_scaled.jpg
16-09-2022  13:17            27.847 mars.jpg
16-09-2022  13:17           414.893 mars.nasa.jpg
16-09-2022  15:13             3.435 mars_scaled.jpg
16-09-2022  13:17            40.854 mercury.jpg
16-09-2022  15:13             2.898 mercury_scaled.jpg
16-09-2022  13:17            14.150 neptune.jpg
16-09-2022  15:13            35.223 neptune_scaled.jpg
16-09-2022  13:17            40.218 saturn.jpg
16-09-2022  15:13           206.994 saturn_scaled.jpg
16-09-2022  13:17             9.969 uranus.jpg
16-09-2022  15:13            33.585 uranus_scaled.jpg
16-09-2022  13:17            66.259 venus.png
16-09-2022  15:13            60.645 venus_scaled.png
              17 File(s)      1.302.264 bytes
               3 Dir(s)  426.572.984.320 bytes free

<h3>Gevraagd</h3>
<p>
Schaal voor elke (erkende) planeet uit ons zonnestelsel de bijbehorende image t.o.v. van de aarde. Het geschaalde plaatje moet groter zijn dan het plaatje van de aarde als de bijbehorende planeet groter is dan de aarde. Is de planeet kleiner dan de aarde dan moet het nieuwe plaatje kleiner zijn. Gebruik voor de schaalfactor het percentage. 
Tip: Indien nodig kun je de images normaliseren door eerst het plaatje van de aarde te schalen
</p>

<h3>Oplossing</h3>
<ol>
    <li>
        <strong>Open het bestand csv/planets.csv en voeg daar de kolom <i>image</i></strong>
    </li>
    <li>
        <strong>Importeer het csv-bestand en sla de data op in een dictionary</strong>
    </li>
    <li>
        <strong>Open een image uit van een item uit de dictionary</strong>
    </li>
    <li>
        <strong>Schaal de image m.b.v. een <i>numpy array</i></strong>
    </li>
    <li>
        <strong>Sla de geschaalde image op</strong>
    </li>
    <li>
        <strong>Schrijf een functie voor het schalen van een image</strong>
    </li>    
    <li>
        <strong>Maak een loop waarbij voor elke planeet een geschaalde image wordt gemaakt en opgelagen</strong>
    </li>    
</ol>

**Stap 2: Importeer het csv-bestand en sla de data op in een dictionary**

In [5]:
planetDataFrame = pd.read_csv(filename, header = 0, sep = ',')
print(planetDataFrame)
type(planetDataFrame)

# print(planetDataFrame.columns)

      Name   Diameter          Mass   Inclination   Eccentricity  \
0  Mercury     4879.4   3.302×10^23      7.004000       0.205636
1    Venus    12103.6   4.869×10^24      3.394710       0.006777
2    Earth    12756.3   5.974×10^24      0.000050       0.016711
3     Mars     6794.4   6.419×10^23      1.850610       0.093394
4  Jupiter   142984.0   1.899×10^27      1.305300       0.048386
5   Saturn   120536.0   5.688×10^26      2.484460       0.053862
6   Uranus    51118.0   8.683×10^25      0.774000       0.047257
7  Neptune    49572.0   1.024×10^26      1.769170       0.008590
8    Pluto     2370.0     1.3×10^22     17.089001       0.250249

    Semi_majorAxis   SurfaceGravity   OrbitalPeriod   SiderealRotation  \
0         0.387099             3.70        0.241000          58.650000
1         0.723336             8.87        0.615000         243.018700
2         1.000003             9.78        1.000000           0.997271
3         1.523710             3.71        1.881000           1.025950
4         5.202887            24.79       11.860000           0.413500
5         9.536676             8.96       29.460000           0.426400
6        19.189165             7.77       84.010000           0.718100
7        30.069923            11.00      164.790000           0.671200
8        39.445070             0.62      247.740662           6.387230

    Satellites
0            0
1            0
2            1
3            2
4           63
5           64
6           27
7           14
8            5

pandas.core.frame.DataFrame

**Stap 3: Open een image uit van een item uit de dictionary**

In [6]:
img = Image.open('pics/earth.jpg')
type(img)
# img.show()

PIL.JpegImagePlugin.JpegImageFile

**Stap 4: Schaal de image m.b.v. een numpy array**

In [7]:
array = np.array(img)
type(array)
scaleFactor = 1
scaleArray = ndimage.zoom(array, (scaleFactor, scaleFactor, 1))
imgScaled = Image.fromarray(scaleArray)
imgScaled.show()

**Stap 5: Sla de geschaalde image op**

In [8]:
imgScaled.save(img.filename.replace(".jpg","_scaled.jpg"))

In [9]:
#dir(imgScaled)
band = img.getbands()
print(band)

('R', 'G', 'B')

**Stap 6: Schrijf een functie voor het schalen van een image**

In [10]:
import os
def scaleimage(planetfile,scalefactor):
    img = Image.open(os.path.join('pics',planetfile))
    #type(img)   
    array = np.array(img)
    type(array)
    #scaleFactor = 1
    scaleArray = ndimage.zoom(array, (scalefactor, scalefactor, 1))
    imgScaled = Image.fromarray(scaleArray)
    return imgScaled

    #imgScaled.show()    
scaledjupiter = scaleimage('jupiter.jpg',10)

**Stap 7: Maak een loop waarbij voor elke planeet een geschaalde image wordt gemaakt en opgelagen**

In [11]:
def findfilename(planetname):
    #print(os.getcwd())
    fnlist_ext =os.listdir('pics')
    #print(fnlist_ext)
    fnlist = [fn.split('.')[0] for fn in os.listdir('pics')]
    #print(fnlist)
    ind= fnlist.index(planetname.lower())
    return fnlist_ext[ind]
fn = findfilename('venus')
#print(fn)

In [27]:
varname_diameter= ' Diameter'
varname_name = 'Name'
temp = planetDataFrame[planetDataFrame[varname_name]=='Earth']
#print(temp.keys())
#for t in temp:
    #print(temp[t])
d_aarde=temp[varname_diameter]
#xx
planetlist =[]
fn_dict = {};i=0
for planet in planetDataFrame.iterrows():
    print(planet)
    temp = planet[1].to_dict()
    #print(planet[1][varname_diameter])
    pl_name = planet[1][varname_name]
    pl_diameter = planet[1][varname_diameter]
    scalefactor = pl_diameter/d_aarde
    #print(str(pl_name.lower()))
    try:
        fn = findfilename(str(pl_name.lower()))
        scaledimage = scaleimage(fn,scalefactor)
        fn=fn.replace(".","_scaled.")
        #print(fn)
        scaledimage.save(os.path.join('pics',fn)) 
        temp.update({'FN_scaled':fn})
        #fn_dict.update({i:fn})
    except ValueError:
        temp.update({'FN_scaled':'no picture available'})
        #fn_dict.update({i:'no picture available'})
        pass
    planetlist.append(temp)
#planet_dict = planetDataFrame.to_dict()
#planet_dict.update({'Fn_scaled':fn_dict})

(0, Name                      Mercury
 Diameter                  4879.4
 Mass                 3.302×10^23
 Inclination                7.004
 Eccentricity            0.205636
 Semi_majorAxis          0.387099
 SurfaceGravity               3.7
 OrbitalPeriod              0.241
 SiderealRotation           58.65
 Satellites                     0
Name: 0, dtype: object)
(1, Name                        Venus
 Diameter                 12103.6
 Mass                 4.869×10^24
 Inclination              3.39471
 Eccentricity            0.006777
 Semi_majorAxis          0.723336
 SurfaceGravity              8.87
 OrbitalPeriod              0.615
 SiderealRotation        243.0187
 Satellites                     0
Name: 1, dtype: object)
(2, Name                        Earth
 Diameter                 12756.3
 Mass                 5.974×10^24
 Inclination              0.00005
 Eccentricity            0.016711
 Semi_majorAxis          1.000003
 SurfaceGravity              9.78
 OrbitalPeriod                1.0
 SiderealRotation        0.997271
 Satellites                     1
Name: 2, dtype: object)
(3, Name                         Mars
 Diameter                  6794.4
 Mass                 6.419×10^23
 Inclination              1.85061
 Eccentricity            0.093394
 Semi_majorAxis           1.52371
 SurfaceGravity              3.71
 OrbitalPeriod              1.881
 SiderealRotation         1.02595
 Satellites                     2
Name: 3, dtype: object)
(4, Name                      Jupiter
 Diameter                142984.0
 Mass                 1.899×10^27
 Inclination               1.3053
 Eccentricity            0.048386
 Semi_majorAxis          5.202887
 SurfaceGravity             24.79
 OrbitalPeriod              11.86
 SiderealRotation          0.4135
 Satellites                    63
Name: 4, dtype: object)
(5, Name                       Saturn
 Diameter                120536.0
 Mass                 5.688×10^26
 Inclination              2.48446
 Eccentricity            0.053862
 Semi_majorAxis          9.536676
 SurfaceGravity              8.96
 OrbitalPeriod              29.46
 SiderealRotation          0.4264
 Satellites                    64
Name: 5, dtype: object)
(6, Name                       Uranus
 Diameter                 51118.0
 Mass                 8.683×10^25
 Inclination                0.774
 Eccentricity            0.047257
 Semi_majorAxis         19.189165
 SurfaceGravity              7.77
 OrbitalPeriod              84.01
 SiderealRotation          0.7181
 Satellites                    27
Name: 6, dtype: object)
(7, Name                      Neptune
 Diameter                 49572.0
 Mass                 1.024×10^26
 Inclination              1.76917
 Eccentricity             0.00859
 Semi_majorAxis         30.069923
 SurfaceGravity              11.0
 OrbitalPeriod             164.79
 SiderealRotation          0.6712
 Satellites                    14
Name: 7, dtype: object)
(8, Name                      Pluto
 Diameter                2370.0
 Mass                 1.3×10^22
 Inclination          17.089001
 Eccentricity          0.250249
 Semi_majorAxis        39.44507
 SurfaceGravity            0.62
 OrbitalPeriod       247.740662
 SiderealRotation       6.38723
 Satellites                   5
Name: 8, dtype: object)

In [34]:
print(planetlist)
import csv
with open('csv/planets_update.csv','w') as g: 
    #writer = csv.DictWriter(g, planet_dict)
    writer = csv.DictWriter(g, fieldnames=planetlist[0].keys())
    writer.writeheader()
    writer.writerows(planetlist)

[{'Name': 'Mercury', ' Diameter': 4879.4, ' Mass': ' 3.302×10^23', ' Inclination': 7.004, ' Eccentricity': 0.20563593, ' Semi_majorAxis': 0.38709927, ' SurfaceGravity': 3.7, ' OrbitalPeriod': 0.241, ' SiderealRotation': 58.65, ' Satellites': 0, 'FN_scaled': 'mercury_scaled.jpg'}, {'Name': 'Venus', ' Diameter': 12103.6, ' Mass': ' 4.869×10^24', ' Inclination': 3.39471, ' Eccentricity': 0.00677672, ' Semi_majorAxis': 0.72333566, ' SurfaceGravity': 8.87, ' OrbitalPeriod': 0.615, ' SiderealRotation': 243.0187, ' Satellites': 0, 'FN_scaled': 'venus_scaled.png'}, {'Name': 'Earth', ' Diameter': 12756.3, ' Mass': ' 5.974×10^24', ' Inclination': 5e-05, ' Eccentricity': 0.01671123, ' Semi_majorAxis': 1.00000261, ' SurfaceGravity': 9.78, ' OrbitalPeriod': 1.0, ' SiderealRotation': 0.997271, ' Satellites': 1, 'FN_scaled': 'earth_scaled.jpg'}, {'Name': 'Mars', ' Diameter': 6794.4, ' Mass': ' 6.419×10^23', ' Inclination': 1.85061, ' Eccentricity': 0.0933941, ' Semi_majorAxis': 1.52371034, ' SurfaceGravity': 3.71, ' OrbitalPeriod': 1.881, ' SiderealRotation': 1.02595, ' Satellites': 2, 'FN_scaled': 'mars_scaled.jpg'}, {'Name': 'Jupiter', ' Diameter': 142984.0, ' Mass': ' 1.899×10^27', ' Inclination': 1.3053, ' Eccentricity': 0.04838624, ' Semi_majorAxis': 5.202887, ' SurfaceGravity': 24.79, ' OrbitalPeriod': 11.86, ' SiderealRotation': 0.4135, ' Satellites': 63, 'FN_scaled': 'jupiter_scaled.jpg'}, {'Name': 'Saturn', ' Diameter': 120536.0, ' Mass': ' 5.688×10^26', ' Inclination': 2.48446, ' Eccentricity': 0.05386179, ' Semi_majorAxis': 9.53667594, ' SurfaceGravity': 8.96, ' OrbitalPeriod': 29.46, ' SiderealRotation': 0.4264, ' Satellites': 64, 'FN_scaled': 'saturn_scaled.jpg'}, {'Name': 'Uranus', ' Diameter': 51118.0, ' Mass': ' 8.683×10^25', ' Inclination': 0.774, ' Eccentricity': 0.04725744, ' Semi_majorAxis': 19.18916464, ' SurfaceGravity': 7.77, ' OrbitalPeriod': 84.01, ' SiderealRotation': 0.7181, ' Satellites': 27, 'FN_scaled': 'uranus_scaled.jpg'}, {'Name': 'Neptune', ' Diameter': 49572.0, ' Mass': ' 1.024×10^26', ' Inclination': 1.76917, ' Eccentricity': 0.00859048, ' Semi_majorAxis': 30.06992276, ' SurfaceGravity': 11.0, ' OrbitalPeriod': 164.79, ' SiderealRotation': 0.6712, ' Satellites': 14, 'FN_scaled': 'neptune_scaled.jpg'}, {'Name': 'Pluto', ' Diameter': 2370.0, ' Mass': ' 1.3×10^22', ' Inclination': 17.08900092, ' Eccentricity': 0.250248713, ' Semi_majorAxis': 39.44506973, ' SurfaceGravity': 0.62, ' OrbitalPeriod': 247.7406624, ' SiderealRotation': 6.38723, ' Satellites': 5, 'FN_scaled': 'no picture available'}]

<h4>Bonus: Voeg Mercurius aan de tabel toe en schaal ook daarvan het plaatje</h4>

</ol>

</ol>